/* add numbering to wiki headings */

div.wiki, div.wiki-page {
   counter-reset:h1s;
}
.wiki h1 {
   counter-reset: h2s;
}
.wiki h1::before {
   content: counter(h1s) ". ";
   counter-increment: h1s;
}
.wiki h2 {
   counter-reset: h3s;
}
.wiki h2::before {
   content: counter(h1s) "." counter(h2s) ". ";
   counter-increment: h2s;
}
.wiki h3 {
   counter-reset: h4s;
}
.wiki h3::before {
   content: counter(h1s) "." counter(h2s) "." counter(h3s) ". ";
   counter-increment: h3s;
}
.wiki h4 {
   counter-reset: h5s;
}
.wiki h4::before {
   content: counter(h1s) "." counter(h2s) "." counter(h3s) "." counter(h4s);
   counter-increment: h4s;
   margin-right: 0.4em;
}
.wiki h5 {
   counter-reset: h6s;
}
.wiki h5::before {
   content: counter(h1s) "." counter(h2s) "." counter(h3s) "." counter(h4s) "." counter(h5s);
   counter-increment: h5s;
   margin-right: 0.5em;
}
.wiki h6 {
   counter-reset: h7s;
}
.wiki h6::before {
   content: counter(h1s) "." counter(h2s) "." counter(h3s) "." counter(h4s) "." counter(h5s) "." counter(h6s);
   counter-increment: h6s;
   margin-right: 0.6em;
}
.wiki h7 {
}
.wiki h7::before {
   content: counter(h1s) "." counter(h2s) "." counter(h3s) "." counter(h4s) "." counter(h5s) "." counter(h6s) "." counter(h7s);
   counter-increment: h7s;
   margin-right: 0.6em;
}

